</head>

<body class="site">
    <header id="header" class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a id="home" class="item" href="/">
                <i class="home icon"></i>Home
            </a>
            <a id="contracts" class="item" href="/contracts">
                <i class="leaf icon"></i>Contracts
            </a>
            <a id="bulk" class="item" href="/bulk">
                <i class="food icon"></i>Bulk
            </a>
            <% if( !currentUser ) { %>
                <a id="login" class="item right" href="/login"><i class="user icon"></i>Login</a>
                <a id="register" class="item" href="/register"><i class="add user icon"></i>Sign Up</a>
            <% } else { %>
                <% if( currentUser.isAdmin || currentUser.isProducer ) { %>
                    <div id="management" class="ui dropdown item right">
                        <i class="users icon"></i>
                        Management
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a id="contracts" class="item" href="/management/contracts">Contracts</a>
                            <% if( currentUser.isAdmin ) { %>
                                <a id="users" class="item" href="/management/users">Users</a>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <div id="user" class="ui dropdown item right">
                    <i class="user icon"></i>
                    <%= currentUser.username %>
                    <% if( currentUser.isAdmin ) { %>
                        (Admin)
                    <% } else if( currentUser.isProducer ) { %>
                        (Producer)
                    <% } %>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a id="profile" class="item" href="/<%= currentUser.username %>/profile">
                            Profile
                        </a>
                        <a id="settings" class="item" href="/<%= currentUser.username %>/settings">
                            Settings
                        </a>
                        <a id="myContracts" class="item" href="/<%= currentUser.username %>/my_contracts">
                            My Contracts
                        </a>
                        <a id="planning" class="item" href="/<%= currentUser.username %>/planning">
                            Planning
                        </a>
                    </div>
                </div>
                
                <a class="item" href="/logout">
                    <i class="remove user icon"></i>Logout
                </a>
            <% } %>
        </div>
    </header>
    
    <main class=mainContent>
        <div class="ui container">
            <% if( flashMessages.success && flashMessages.success.length > 0 ) { %>
                <% for( let i = 0; i < flashMessages.success.length; i++) { %>
                    <% let success = flashMessages.success[i].split("\n"); %>
                    <div class="ui success message" role="alert">
                        <i class="close icon"></i>
                        <div class="header">
                            <%= success[0] %>
                        </div>
                        <% if( success.length === 2 ) { %>
                            <p><%= success[1] %></p>
                        <% } else { %>
                            <ul class="list">
                                <% for( let j = 1; j < success.length; j++) { %>
                                    <li><%= success[j] %></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                <% }; %>
            <% } %>
            
            <% if( flashMessages.error && flashMessages.error.length > 0 ) { %>
                <% for( let i = 0; i < flashMessages.error.length; i++) { %>
                    <% let error = flashMessages.error[i].split("\n"); %>
                    <div class="ui error message" role="alert">
                        <i class="close icon"></i>
                        <div class="header">
                            <%= error[0] %>
                        </div>
                        <% if( error.length === 2 ) { %>
                            <p><%= error[1] %></p>
                        <% } else { %>
                            <ul class="list">
                                <% for( let j = 1; j < error.length; j++) { %>
                                    <li><%= error[j] %></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                <% }; %>
            <% } %>
            
            <% if( flashMessages.info && flashMessages.info.length > 0 ) { %>
                <% for( let i = 0; i < flashMessages.info.length; i++) { %>
                    <% let info = flashMessages.info[i].split("\n"); %>
                    <div class="ui info message" role="alert">
                        <i class="close icon"></i>
                        <div class="header">
                            <%= info[0] %>
                        </div>
                        <% if( info.length === 2 ) { %>
                            <p><%= info[1] %></p>
                        <% } else { %>
                            <ul class="list">
                                <% for( let j = 1; j < info.length; j++) { %>
                                    <li><%= info[j] %></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                <% }; %>
            <% } %>
            
            <script>
                $('.message .close').on('click', function() {
                    $(this)
                        .closest('.message')
                        .transition('fade');
                });
                
                $('.ui.dropdown').dropdown();
            </script>