</head>

<body class="site">
    <header id="header" class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a id="home" class="item" href="/">
                <i class="home icon"></i>Home
            </a>
            <a id="contracts" class="item" href="/contracts">
                <i class="leaf icon"></i>Contracts
            </a>
            <a id="bulk" class="item" href="/bulk">
                <i class="food icon"></i>Bulk
            </a>
            <% if( !currentUser ) { %>
                <a id="login" class="item right" href="/login"><i class="user icon"></i>Login</a>
                <a id="register" class="item" href="/register"><i class="add user icon"></i>Sign Up</a>
            <% } else { %>
                <% if( currentUser.isAdmin ) { %>
                    <a id="management" class="item right" href="/<%= currentUser.username %>/management">
                        <i class="users icon"></i>Management
                    </a>
                <% } %>
                <a id="profile" class="item right" href="/<%= currentUser.username %>/profile">
                    <%= currentUser.username %>
                    <% if( currentUser.isAdmin ) { %>
                        (Admin)
                    <% } else if( currentUser.isProducer ) { %>
                        (Producer)
                    <% } %>
                </a>
                <a class="item" href="/logout">
                    <i class="remove user icon"></i>Logout
                </a>
            <% } %>
        </div>
    </header>
    
    <main class=mainContent>
        <div class="ui container">
            <% if( flashMessages.success && flashMessages.success.length > 0 ) { %>
                <% for( let i = 0; i < flashMessages.success.length; i++) { %>
                    <% let success = flashMessages.success[i].split("\n"); %>
                    <div class="ui success message" role="alert">
                        <i class="close icon"></i>
                        <div class="header">
                            <%= success[0] %>
                        </div>
                        <p><%= success[1] %></p>
                    </div>
                <% }; %>
            <% } %>
            
            <% if( flashMessages.error && flashMessages.error.length > 0 ) { %>
                <% for( let i = 0; i < flashMessages.error.length; i++) { %>
                    <% let error = flashMessages.error[i].split("\n"); %>
                    <div class="ui error message" role="alert">
                        <i class="close icon"></i>
                        <div class="header">
                            <%= error[0] %>
                        </div>
                        <p><%= error[1] %></p>
                    </div>
                <% }; %>
            <% } %>
            
            <% if( flashMessages.info && flashMessages.info.length > 0 ) { %>
                <% for( let i = 0; i < flashMessages.info.length; i++) { %>
                    <% let info = flashMessages.info[i].split("\n"); %>
                    <div class="ui info message" role="alert">
                        <i class="close icon"></i>
                        <div class="header">
                            <%= info[0] %>
                        </div>
                        <p><%= info[1] %></p>
                    </div>
                <% }; %>
            <% } %>
            
            <script>
                $('.message .close').on('click', function() {
                    $(this)
                        .closest('.message')
                        .transition('fade');
                });
            </script>