<% include ../partials/headerDoctype %>
<script type="text/javascript" src="/js/tableSort.js"></script>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#createdContracts").addClass("active");
    $("#user").css("color", "#fff");
</script>

<% const reducer = (acc, current) => acc + current.quantity; %>

<h1 class="ui center aligned block inverted olive header">Created Contract(s)</h1>

<table class="ui sortable celled olive center aligned large table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Subscriber(s)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Next Delivery
            </th>
            <th class="no-sort">
                Attendance Sheet
            </th>
        </tr>
    </thead>
    
    <tbody>
        <% contracts.forEach( function( contract ) { %>
            <% let date, month, year; %>
            <% if (contract.nextDelivery) { %>
                <% date = contract.nextDelivery.getDate() %>
                <% month = contract.nextDelivery.getMonth() + 1 %>
                <% year = contract.nextDelivery.getFullYear() %>
            <% } %>
            
            <tr>
                <!-- NAME -->
                <td>
                    <a href="/contracts/<%= contract._id %>"><%= contract.name %></a>
                </td>
                <!-- SUBSCRIBER(S) -->
                <td>
                    <%= contract.subscribedUsers.length %>
                </td>
                <!-- QUANTITY -->
                <td>
                    <%= contract.subscribedUsers.reduce(reducer, 0); %>
                </td>
                <!-- NEXT DELIVERY -->
                <% if (contract.nextDelivery) { %>
                    <td data-sort-value="<%= (new Date(year, month - 1, contract.nextDelivery.getDay())).getTime() %>">
                            <%= date %>/<%= month %>/<%= year %>
                    </td>
                <% } else { %>
                    <td data-sort-value="0">
                        Contract Ended
                    </td>
                <% } %>
                <!-- ATTENDANCE SHEET -->
                <td>
                    <% if (contract.nextDelivery) { %>
                        <a class="ui tiny button"
                        href="/contracts/<%= contract._id %>/download/attendance/<%= date %>/<%= month %>/<%= year %>">
                            <i class="download icon"></i>
                            Download
                        </a>
                    <% } else { %>
                        /
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<script type="text/javascript">
    $('table').tablesort();
</script>

<% include ../partials/footer %>
