<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#profile").addClass("active");
    $("#user").css("color", "#fff");
</script>

<% const { username, email, name, contact } = currentUser; %>
<% const { phone, address1, address2, postalCode, city } = contact; %>

<h1 class="ui center aligned block inverted olive header">Profile</h1>

<!-- Main -->
<h2 class="ui medium header">Email :</h2>
<div class="ui label">
    <i class="mail icon"></i> Your email : 
</div>
<%= email %>


<!-- Personnal -->

    <!-- Name -->
<h2 class="ui medium header">Name :</h2>
<p>
    <div class="ui label">
        <i class="user circle icon"></i> First name : 
    </div>
    <%= name.firstName %>
</p>
<p>
    <div class="ui label">
        <i class="user circle icon"></i> Last name : 
    </div>
    <%= name.lastName %>
</p>


    <!-- Contact -->
<h2 class="ui medium header">Contact Information :</h2>
<p>
    <div class="ui label">
        <i class="phone icon"></i> Phone Number : 
    </div>
    <%= phone %>
</p>
<p>
    <div class="ui label">
        <i class="address card icon"></i> Address 1 : 
    </div>
    <%= address1 %>
</p>
<% if( address2 && address2.length > 0 ) { %>
    <p>
        <div class="ui label">
            <i class="address card icon"></i> Address 2 : 
        </div>
        <%= address2 %>
    </p>
<% } %>
<p>
    <div class="ui label">
        <i class="address card icon"></i> Postal Code : 
    </div>
    <%= postalCode %>
</p>
<p>
    <div class="ui label">
        <i class="address card icon"></i> City : 
    </div>
    <%= city %>
</p>

<a class="ui right floated huge olive button" href="/<%= username %>/profile/edit">
    Edit
</a>

<% include ../partials/footer %>