<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#profile").addClass("active");
    $("#user").css("color", "#fff");
</script>

<% const { username, email, name, contact } = currentUser; %>
<% const { phone, address1, address2, postalCode, city } = contact; %>

<h1 class="ui center aligned block inverted olive header">Profile</h1>

<!-- Main -->
<h2 class="ui dividing medium header">Email :</h2>

<div class="ui grid">
    <div class="three wide right aligned column">
        <div class="ui basic olive label">
            <i class="mail icon"></i> Your email :
        </div>
    </div>
    
    <div class="thirteen wide column">
        <div class="ui basic label">
            <%= email %>
        </div>
    </div>
</div>



<!-- Personnal -->

    <!-- Name -->
<h2 class="ui dividing medium header">Name :</h2>

<div class="ui grid">
    <div class="three wide right aligned column">
        <div class="ui basic olive label">
            <i class="user circle icon"></i> First name :
        </div>
        <p></p>
        
        <div class="ui basic olive label">
            <i class="user circle icon"></i> Last name :
        </div>
    </div>

    <div class="thirteen wide column">
        <div class="ui basic label">
            <%= name.firstName %>
        </div>
        <p></p>
        
        <div class="ui basic label">
            <%= name.lastName %>
        </div>
    </div>
</div>


    <!-- Contact -->
<h2 class="ui dividing medium header">Contact Information :</h2>

<div class="ui grid">
    <div class="three wide right aligned column">
        <div class="ui basic olive label">
            <i class="phone icon"></i> Phone Number :
        </div>
        <p></p>
        
        <div class="ui basic olive label">
            <i class="address card icon"></i> Address 1 :
        </div>
        <p></p>
        
        <% if( address2 && address2.length > 0 ) { %>
            <div class="ui basic olive label">
                <i class="address card icon"></i> Address 2 :
            </div>
            <p></p>
        <% } %>
        
        <div class="ui basic olive label">
            <i class="address card icon"></i> Postal Code :
        </div>
        <p></p>
        
        <div class="ui basic olive label">
            <i class="address card icon"></i> City :
        </div>
    </div>
    
    <div class="thirteen wide column">
        <div class="ui basic label">
            <%= phone %>
        </div>
        <p></p>
        
        <div class="ui basic label">
            <%= address1 %>
        </div>
        <p></p>
        
        <% if( address2 && address2.length > 0 ) { %>
            <div class="ui basic label">
                <%= address2 %>
            </div>
            <p></p>
        <% } %>
        
        <div class="ui basic label">
            <%= postalCode %>
        </div>
        <p></p>
        
        <div class="ui basic label">
            <%= city %>
        </div>
        <p></p>
    </div>
</div>

<a class="ui right floated huge olive button" href="/<%= username %>/profile/edit">
    Edit
</a>

<% include ../partials/footer %>