<% include ../partials/headerDoctype %>
<script type="text/javascript" src="/js/tableSort.js"></script>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#subscribedContracts").addClass("active");
    $("#user").css("color", "#fff");
</script>

<h1 class="ui center aligned block inverted olive header">Subscribed Contract(s)</h1>

<table class="ui sortable celled olive center aligned table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Producer
            </th>
            <th>
                Quantity
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    
    <tbody>
        <% contracts.forEach( function( contract ) { %>
            <% quantity = contract.quantity %>
            <% contract = contract.id %>
            
            <tr>
                <!-- NAME -->
                <td>
                    <a href="/contracts/<%= contract._id %>">
                        <%= contract.name %>
                    </a>
                </td>
                <!-- PRODUCER -->
                <td>
                    <%= contract.producer.username %>
                </td>
                <!-- QUANTITY -->
                <td data-sort-value="<%= quantity %>">
                    <%= quantity %>
                </td>
                <!-- STATUS -->
                <% if (contract.date.start > Date.now()) { %>
                    <td data-sort-value="0">
                        <% const date = contract.date.start.getDate() + "/" + (contract.date.start.getMonth() + 1) + "/" + contract.date.start.getFullYear() %>
                        <em>Not Started : start the <%= date %></em>
                    </td>
                <% } else if (contract.date.end < Date.now()) { %>
                    <td data-sort-value="2">
                        <em>Finished</em>
                    </td>
                <% } else { %>
                    <td data-sort-value="1">
                        <% const date = contract.date.end.getDate() + "/" + (contract.date.end.getMonth() + 1) + "/" + contract.date.end.getFullYear() %>
                        <em>Ongoing : end the <%= date %></em>
                    </td>
                <% } %>
            </tr>
        <% }); %>
    </tbody>
</table>

<script type="text/javascript">
    $('table').tablesort();
</script>

<% include ../partials/footer %>