<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#managementContracts").addClass("active");
    $("#management").css("color", "#fff");
</script>

<% const reducer = (acc, current) => acc + current.quantity; %>

<h1 class="ui center aligned block inverted olive header">Contracts Management</h1>

<table class="ui celled olive center aligned table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Subscriber(s)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Next Delivery
            </th>
            <th>
                Attendance Sheet
            </th>
        </tr>
    </thead>
    
    <tbody>
        <% contracts.forEach( function( contract ) { %>
            <% const date = contract.nextDelivery.getDate() %>
            <% const month = contract.nextDelivery.getMonth() + 1 %>
            <% const year = contract.nextDelivery.getFullYear() %>
            <tr>
                <td>
                    <a href="/contracts/<%= contract._id %>"><%= contract.name %></a>
                </td>
                <td>
                    <%= contract.subscribedUsers.length %>
                </td>
                <td>
                    <%= contract.subscribedUsers.reduce(reducer, 0); %>
                </td>
                <td>
                    <%= date %>/<%= month %>/<%= year %>
                </td>
                <td>
                    <a href="/contracts/<%= contract._id %>/download/attendance/<%= date %>/<%= month %>/<%= year %>">
                        Download
                    </a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<% include ../partials/footer %>
