<% include ../partials/headerDoctype %>
<script type="text/javascript" src="/js/tableSort.js"></script>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#users").addClass("active");
    $("#management").css("color", "#fff");
</script>

<h1 class="ui center aligned block inverted olive header">Users Management</h1>

<table class="ui sortable celled olive center aligned large table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Contract(s) Subscribed
            </th>
        </tr>
    </thead>
    
    <tbody>
        <% users.forEach( function( user ) { %>
            <tr>
                <!-- USERNAME -->
                <td data-sort-value="<%= user.isAdmin ? 0 : user.isProducer ? 1 : 2 %>">
                    <%= user.username %>
                    <% if (user.isAdmin) { %>
                        <strong>(Admin)</strong>
                    <% } else if (user.isProducer) { %>
                        <strong>(Producer)</strong>
                    <% } %>
                </td>
                <!-- NAME -->
                <td>
                    <% if (!user.name.firstName || !user.name.lastName) { %>
                        /
                    <% } else { %>
                        <%= user.name.firstName %> <%= user.name.lastName %>
                    <% } %>
                </td>
                <!-- EMAIL -->
                <td>
                    <%= user.email %>
                </td>
                <!-- PHONE NUMBER -->
                <% if (user.contact.phone) { %>
                    <td data-sort-value="0">
                        <%= user.contact.phone %>
                    </td>
                <% } else { %>
                    <td data-sort-value="1">
                        /
                    </td>
                <% } %>
                <!-- CONTRACT(S) SUBSCRIBED -->
                <td data-sort-value="<%= user.contract.subscribed.length %>">
                    <%= user.contract.subscribed.length %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<script type="text/javascript">
    $('table').tablesort();
</script>

<% include ../partials/footer %>
