<% include ../../partials/headerDoctype %>
<% include ../../partials/headerNavbar %>

<script type="text/javascript">
    $("#managementAddress").addClass("active");
    $("#management").css("color", "#fff");
</script>

<% const { _id, name, address1, address2, postalCode, city, time } = address; %>

<h1 class="ui center aligned block inverted olive header">Edit <%= name %></h1>
    
<form class="ui form" action="/management/address/<%= _id %>?_method=PUT" method="POST">
    <h2 class="ui header">Address :</h2>
    <div class="field">
        <label>Name</label>
        <input type="text" name="address[name]" value="<%= name %>" required>
    </div>
    
    <div class="field">
        <label>Address 1</label>
        <input type="text" name="address[address1]" value="<%= address1 %>" required>
    </div>
    
    <div class="field">
        <label>Address 2</label>
        <input type="text" name="address[address2]" value="<%= address2 %>">
    </div>
    
    <div class="field">
        <label>Postal Code1</label>
        <input type="text" name="address[postalCode]" value="<%= postalCode %>" required>
    </div>
    
    <div class="field">
        <label>City</label>
        <input type="text" name="address[city]" value="<%= city %>" required>
    </div>
    
    <h2 class="ui header">Time :</h2>
    <div class="field">
        <label>Hour</label>
        <input type="number" name="address[time][hour]" value="<%= time.hour %>" min="0" max ="24" step="1" required>
    </div>
    
    <div class="field">
        <label>Minute</label>
        <input type="number" name="address[time][minute]" value="<%= time.minute %>" min="0" max ="60" step="1" required>
    </div>
    
    <a class="ui left floated animated inverted violet button" href="/management/address">
        <div class="visible content">
            Go back
        </div>
        <div class="hidden content">
            <i class="left arrow large icon"></i>
        </div>
    </a>
    <input class="ui inverted green button" type="submit" value="Submit !">
</form>

<% include ../../partials/footer %>