<% include ../../partials/headerDoctype %>
<% include ../../partials/headerNavbar %>

<script type="text/javascript">
    $("#managementAddress").addClass("active");
    $("#management").css("color", "#fff");
</script>

<h1 class="ui center aligned block inverted olive header">Address Management</h1>

<a class="ui animated fade inverted green button" href="/management/address/new">
    <div class="visible content">
        Add an Address
    </div>
    <div class="hidden content">
        <i class="plus circle large icon"></i>
    </div>
</a>

<div class=" ui divided items">
    <% addresses.forEach( function( address ) { %>
        <% const { _id, name, address1, address2, postalCode, city, time } = address; %>
        
        <div class="item">
            <div class="content">
                <h2 class="ui dividing header"><%= name %></h2>
                <div class="description ui grid">
                    <div class="eight wide column">
                        <h3 class="ui header">Address</h3>
                        <p><strong>Address 1 : </strong><%= address1 %></p>
                        <% if( address2.length > 0 ) { %>
                            <p><strong>Address 2 : </strong><%= address2 %></p>
                        <% } %>
                        <p><strong>Postal Code : </strong><%= postalCode %></p>
                        <p><strong>City : </strong><%= city %></p>
                    </div>
                    
                    <div class="eight wide column">
                        <h3 class="ui header">Time</h3>
                        <p><strong>Hour : </strong><%= time.hour %> h</p>
                        <% const minute = time.minute === 0 ? "00" : time.minute %>
                        <p><strong>Minute : </strong><%= minute %> min</p>
                    </div>
                </div>
                
                <div class="marginTop">
                    <a class="ui olive button" href="/management/address/<%= _id %>">
                        Edit
                    </a>
                    <form class="inlineForm" action="/management/address/<%= _id %>?_method=DELETE" method=POST>
                        <button class="ui red button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<% include ../../partials/footer %>
