<% include ../../partials/headerDoctype %>
<% include ../../partials/headerNavbar %>

<script type="text/javascript">
    $("#managementAddress").addClass("active");
    $("#management").css("color", "#fff");
</script>

<h1 class="ui center aligned block header">Address Management</h1>

<a class="ui animated fade inverted green button" href="/management/address/new">
    <div class="visible content">
        Add an Address
    </div>
    <div class="hidden content">
        <i class="plus circle large icon"></i>
    </div>
</a>

<div class=" ui divided items">
    <% addresses.forEach( function( address ) { %>
        <div class="item">
            <div class="content">
                <h2 class="ui header"><%= address.name %></h2>
                <div class="description">
                    <h3 class="ui header">Address</h3>
                    <p><strong>Address 1 : </strong><%= address.address1 %></p>
                    <% if( address.address2.length > 0 ) { %>
                        <p><strong>Address 2 : </strong><%= address.address2 %></p>
                    <% } %>
                    <p><strong>Postal Code : </strong><%= address.postalCode %></p>
                    <p><strong>City : </strong><%= address.city %></p>
                    
                    <h3 class="ui header">Time</h3>
                    <p><strong>Hour : </strong><%= address.time.hour %> h</p>
                    <% const minute = address.time.minute === 0 ? "00" : address.time.minute %>
                    <p><strong>Minute : </strong><%= minute %> min</p>
                </div>
                
                <div class="marginTop">
                    <a class="ui inverted olive button" href="/management/address/<%= address._id %>">
                        Edit
                    </a>
                    <form class="inlineForm" action="/management/address/<%= address._id %>?_method=DELETE" method=POST>
                        <button class="ui inverted red button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<% include ../../partials/footer %>
