<% include ../../partials/headerDoctype %>
<% include ../../partials/headerNavbar %>

<script type="text/javascript">
    $("#managementAddress").addClass("active");
    $("#management").css("color", "#fff");
</script>

<h1 class="ui center aligned block header">Address Management</h1>

<a class="ui animated fade inverted green button" href="/management/address/new">
    <div class="visible content">
        Add an Address
    </div>
    <div class="hidden content">
        <i class="plus circle large icon"></i>
    </div>
</a>

<div class=" ui divided items">
    <% address.forEach( function( adr ) { %>
        <div class="item">
            <div class="content">
                <h2 class="ui medium header">
                    <%= adr.name %>
                </h2>
                <div class="description">
                    <p><strong>Address 1 : </strong><%= adr.address1 %></p>
                    <% if( adr.address2 && adr.address2.length > 0 ) { %>
                        <p><strong>Address 2 : </strong><%= adr.address2 %></p>
                    <% } %>
                    <p><strong>Postal Code : </strong><%= adr.postalCode %></p>
                    <p><strong>City : </strong><%= adr.city %></p>
                </div>
                
                <div class="marginTop">
                    <a class="ui inverted olive button" href="/management/address/<%= adr._id %>">
                        Edit
                    </a>
                    <form class="inlineForm" action="/management/address/<%= adr._id %>?_method=DELETE" method=POST>
                        <button class="ui inverted red button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
</div>

<% include ../../partials/footer %>
