<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#planning").addClass("active");
    $("#user").css("color", "#fff");
</script>

<h1 class="ui center aligned block inverted olive header">Planning</h1>

<% for (let planning = 0; planning < weeks.length; planning++) { %>
    <% for (let week = 0; week < weeks[planning].length; week++) { %>
        <div id="<%= week + (planning * 5) %>" class="planning<%= planning %> ui basic segment" <% if (week !== 2) { %>hidden<% } %>>
            <table class="ui celled olive large center aligned table">
                <thead>
                    <tr>
                        <th colspan="7" class=" ui olive large header">
                            <% if (planning === 0) { %>
                                Subscribed Contracts
                            <% } else { %>
                                Created Contracts
                            <% } %>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Monday <span class="Date<%= planning %>"></span>/<span class="Month<%= planning %>"></span>
                        </th>
                        <th>
                            Tuesday <span class="Date<%= planning %>"></span>/<span class="Month<%= planning %>"></span>
                        </th>
                        <th>
                            Wednesday <span class="Date<%= planning %>"></span>/<span class="Month<%= planning %>"></span>
                        </th>
                        <th>
                            Thursday <span class="Date<%= planning %>"></span>/<span class="Month<%= planning %>"></span>
                        </th>
                        <th>
                            Friday <span class="Date<%= planning %>"></span>/<span class="Month<%= planning %>"></span>
                        </th>
                        <th>
                            Saturday <span class="Date<%= planning %>"></span>/<span class="Month<%= planning %>"></span>
                        </th>
                        <th>
                            Sunday <span class="Date<%= planning %>"></span>/<span class="Month<%= planning %>"></span>
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    <% for (let i = 0; i < maxPerDay[planning][week]; i++) { %>
                        <tr>
                            <% for (let day of weeks[planning][week]) { %>
                                <td>
                                    <% if (day[i]) { %>
                                        <a href="/contracts/<%= day[i]._id %>">
                                            <%= day[i].name %>
                                        </a>
                                    <% } %>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    <% } %>
    
    <button id="prevButton<%= planning %>" class="ui left floated olive button">
        <i class="left chevron icon"></i>
        Previous Week
    </button>
    
    <button id="nextButton<%= planning %>" class="ui right floated olive button">
        Next Week
        <i class="right chevron icon"></i>
    </button>
    
    <br>
<% } %>

<script type="text/javascript" src="/js/planning.js"></script>

<% include ../partials/footer %>