<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<% const { _id, name, image, price, disponibility, description, delivery, date } = contract; %>
<% const { start, end } = date; %>
<% const { frequency, dayOfWeek, address } = delivery; %>


<h1 class="ui center aligned block inverted olive header">Edit <%= name %></h1>
    
<form class="ui form" action="/contracts/<%= _id %>?_method=PUT" method="POST">
    <h2 class="ui header">Basics :</h2>
    <div class="field">
        <label>Contract Name</label>
        <input type="text" name="contract[name]" value="<%= name %>" required>
    </div>
    
    <div class="field">
        <label>Image URL</label>
        <input type="text" name="contract[image]" value="<%= image %>" required>
    </div>
    
    <div class="field">
        <label>Price</label>
        <input type="number" name="contract[price]" value="<%= price %>" min="0.01" step="0.01" required>
    </div>
    
    <div class="field">
        <label>Disponibility</label>
        <input type="number" name="contract[disponibility]" value="<%= disponibility %>" min="1" step="1" required>
    </div>
    
    <div class="field">
        <label>Description</label>
        <textarea rows="4" name="contract[description]" required><%= description %></textarea>
    </div>
    
    <!-- Input value needs to be 'yyyy-mm-dd' -->
    <% const startDay = start.getDate() < 10 ? "0" + start.getDate() : start.getDate(); %>
    <% const startMonth = start.getMonth() < 10 ? "0" + (start.getMonth() + 1) : start.getMonth() + 1; %>
    <% const startDate = start.getFullYear() + "-" + startMonth + "-" + startDay %>
    <div class="field">
        <label>Start</label>
        <input type="date" name="start" value="<%= startDate %>" min="2018-01-01" required>
    </div>
    
    <% const endDay = end.getDate() < 10 ? "0" + end.getDate() : end.getDate(); %>
    <% const endMonth = end.getMonth() < 10 ? "0" + (end.getMonth() + 1) : end.getMonth() + 1; %>
    <% const endDate = end.getFullYear() + "-" + endMonth + "-" + endDay %>
    <div class="field">
        <label>End</label>
        <input type="date" name="end" value="<%= endDate %>" min="2018-01-01" required>
    </div>
    
    <h2 class="ui header">Delivery Information :</h2>
    <div class="field">
        <label>Day of the week</label>
        <select name="contract[delivery][dayOfWeek]" required>
            <option value="">Choose a day</option>
            <option <% if( dayOfWeek === "Monday" ) { %> selected <% } %>>Monday</option>
            <option <% if( dayOfWeek === "Tuesday" ) { %> selected <% } %>>Tuesday</option>
            <option <% if( dayOfWeek === "Wednesday" ) { %> selected <% } %>>Wednesday</option>
            <option <% if( dayOfWeek === "Thursday" ) { %> selected <% } %>>Thursday</option>
            <option <% if( dayOfWeek === "Friday" ) { %> selected <% } %>>Friday</option>
            <option <% if( dayOfWeek === "Saturday" ) { %> selected <% } %>>Saturday</option>
            <option <% if( dayOfWeek === "Sunday" ) { %> selected <% } %>>Sunday</option>
        </select>
    </div>
    
    <div class="field">
        <label>Frequency (per month)</label>
        <input type="number" name="contract[delivery][frequency]" value="<%= frequency %>" min="1" max="4" step="1" required>
    </div>
    
    <div class="field">
        <label>Address</label>
        <select name="contract[delivery][address]" required>
            <option onclick="displayAddress($(this));" value="">Choose an address</option>
            <% for( let i = 0; i < addresses.length; i++ ) { %>
                <option onclick="displayAddress($(this));" value="<%= addresses[i]._id %>" <% if( address.equals(addresses[i]._id)) { %> selected <% } %>>
                    <%= addresses[i].name %>
                </option>
            <% } %>
        </select>
        
        <% addresses.forEach( function(address) { %>
            <div id="<%= address._id %>" class="ui secondary center aligned segment" hidden>
                <%= address.address1 %>
                <%= address.address2 %>
                <br>
                <%= address.postalCode %>
                <%= address.city %>
                <br>
                <% const minute = address.time.minute === 0 ? "00" : address.time.minute %>
                <strong>Time : </strong>
                <%= address.time.hour %> h <%= minute %>
            </div>
        <% }); %>
        
        <script type="text/javascript" src="/js/displayAddress.js"></script>
    </div>
    
    <a class="ui left floated animated inverted violet button" href="/contracts/<%= _id %>">
        <div class="visible content">
            Go back
        </div>
        <div class="hidden content">
            <i class="left arrow large icon"></i>
        </div>
    </a>
    <input class="ui inverted green button" type="submit" value="Submit !">
</form>

<% include ../partials/footer %>