<% include ../partials/header %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<div class="ui container">
    <h1>Contracts</h1>
    
    <% if( currentUser && ( currentUser.isAdmin || currentUser.isProducer )) { %>
        <a class="ui button" href="/contracts/new">Add a New Contract</a>
    <% } %>

    <div class="ui divided items">
        <% contracts.forEach( function( contract ) { %>
            <div class="item">
                <a class="image" href="/contracts/<%= contract._id %>">
                    <img src="<%= contract.image %>">
                </a>
                <div class="content">
                    <h2 class="header"><%= contract.name %> <em>by <%= contract.producer.username %></em></h2>
                    <div class="description">
                        <p><%= contract.description %></p>
                    </div>
                    <a class="ui button" href="/contracts/<%= contract._id %>">Show More</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>