<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<h1 class="ui center aligned block header">Contracts</h1>
    
<% if( currentUser && ( currentUser.isAdmin || currentUser.isProducer )) { %>
    <a class="ui animated fade inverted green button" href="/contracts/new">
        <div class="visible content">
            Add a New Contract
        </div>
        <div class="hidden content">
            <i class="plus circle large icon"></i>
        </div>
    </a>
<% } %>

<div class="ui divided items">
    <% contracts.forEach( function( contract ) { %>
        <% const { _id, name, image, description, producer } = contract; %>
        
        <div class="item">
            <a class="image" href="/contracts/<%= _id %>">
                <img src="<%= image %>">
            </a>
            <div class="content">
                <h2 class="ui medium header">
                    <a href="/contracts/<%= _id %>">
                        <%= name %> <em>by <%= producer.username %></em>
                    </a>
                </h2>
                <div class="description">
                    <p><%= description.substring(0,400); %>...</p>
                </div>
                <a class="ui animated inverted violet button" href="/contracts/<%= _id %>">
                    <div class="visible content">
                        Show More
                    </div>
                    <div class="hidden content">
                        <i class="right arrow large icon"></i>
                    </div>
                </a>
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>