<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<% const { _id, name, image, price, disponibility, description } = contract; %>
<% const { delivery, producer, subscribedUsers } = contract; %>
<% const { frequency, dayOfWeek, address } = delivery; %>
<% const available = disponibility - subscribedUsers.length; %>

<h1 class="ui center aligned block inverted olive header"><%= name %></h1>

<a class="ui left floated animated huge inverted violet button" href="/contracts">
    <div class="visible content">
        Go back
    </div>
    <div class="hidden content">
        <i class="left arrow large icon"></i>
    </div>
</a>

<% if (currentUser) { %>
    <% let isSubscribed = false; %>
    <% for (let i = 0; i < currentUser.contract.subscribed.length; i++) { %>
        <% if (currentUser.contract.subscribed[i].equals(contract._id)) { %>
            <% isSubscribed = true; %>
        <% } %>
    <% }; %>
    <% if (isSubscribed) { %>
        <form class="inlineForm" action="/contracts/<%= _id %>/unsubscribe?_method=PUT" method=POST>
            <button class="ui right floated huge inverted red button">Unsubscribe</button>
        </form>
    <% } else if (available) { %>
        <form class="inlineForm" action="/contracts/<%= _id %>/subscribe?_method=PUT" method=POST>
            <button class="ui right floated huge inverted green button">Subscribe</button>
        </form>
    <% } %>
<% } %>

<img class="ui large centered rounded image" src="<%= image %>">

<div class="ui styled fluid accordion marginTop">
    <div class="active title">
        <h2 class="ui center aligned block inverted olive header">
            <i class="dropdown icon"></i>
            General Information
            <i class="dropdown icon"></i>
        </h2>
    </div>
    <div class="active content">
        <p><%= description %></p>
        
        <p>
            <strong>Price : </strong>
            <%= price %>€ per delivery.
        </p>
        
        <p>
            <strong>Disponibility : </strong>
            <% if( available) { %>
                <%= disponibility - subscribedUsers.length %> still available.
            <% } else { %>
                Not available anymore !
            <% } %>
        </p>
    </div>

    <div class="title">
        <h2 class="ui center aligned block inverted olive header">
            <i class="dropdown icon"></i>
            Delivery Information
            <i class="dropdown icon"></i>
        </h2>
    </div>
    <div class="content">
        <p>
            <strong>Frequency : </strong>
            Every
            <% if (frequency !== 1) { %>
                <strong><%= frequency %></strong>
            <% } %>
            weeks
        </p>
        
        <p>
            <strong>Day of the Week : </strong>
            <%= dayOfWeek %>
        </p>
        
        <% const minute = address.time.minute === 0 ? "00" : address.time.minute %>
        <p>
            <strong>Time : </strong>
            <%= address.time.hour %> h <%= minute %>
        </p>
    
        <div class="accordion">
            <div class="title">
                <h3 class="ui ui center aligned block inverted olive header">
                    <i class="dropdown icon"></i>
                    Address : <%= address.name %>
                    <i class="dropdown icon"></i>
                </h3>
            </div>
            <div class="content">
                <p>
                    <%= address.address1 %>
                    <%= address.address2 %>
                    <br>
                    <%= address.postalCode %>
                    <%= address.city %>
                </p>
            </div>
        </div>
    </div>
</div>
    
<% if( currentUser && producer.id.equals( currentUser._id ) ) { %>
    <div class="marginTop">
        <a class="ui large olive button" href="/contracts/<%= _id %>/edit">Edit</a>
        <form class="inlineForm" action="/contracts/<%= _id %>?_method=DELETE" method=POST>
            <button class="ui large right floated red button">Delete</button>
        </form>
    </div>
<% } %>

<script>
    $('.ui.accordion').accordion();
</script>

<% include ../partials/footer %>