<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<div class="ui container">
    <h1 class="ui center aligned block header"><%= contract.name %></h1>
    
    <a class="ui left floated huge button" href="/contracts"><i class="arrow left icon"></i>Go back</a>
    <% if (currentUser) { %>
        <% let isSubscribed = false; %>
        <% for (let i = 0; i < currentUser.subscribedContracts.length; i++) { %>
            <% if (currentUser.subscribedContracts[i].equals(contract._id)) { %>
                <% isSubscribed = true; %>
            <% } %>
        <% }; %>
        <% if (isSubscribed) { %>
            <button class="ui right floated huge button">Subscribed</button>
        <% } else if (contract.disponibility > contract.subscribedUsers.length) { %>
            <form class="inlineForm" action="/contracts/<%= contract._id %>/subscribe?_method=PUT" method=POST>
                <button class="ui right floated huge button">Subscribe !</button>
            </form>
        <% } %>
    <% } %>

    <img class="ui large centered rounded image" src="<%= contract.image %>">
    <h2>Description :</h2>
    <p><%= contract.description %></p>
    
    <h2>Price :</h2>
    <p><%= contract.price %>€ per delivery.</p>
    
    <h2>Disponibility :</h2>
    <p><%= contract.disponibility - contract.subscribedUsers.length %> still available.</p>
    
    <% if( currentUser && contract.producer.id.equals( currentUser._id ) ) { %>
        <a class="ui button" href="/contracts/<%= contract._id %>/edit">Edit</a>
        <form class="inlineForm" action="/contracts/<%= contract._id %>?_method=DELETE" method=POST>
            <button class="ui button">Delete</button>
        </form>
    <% } %>

</div>

<% include ../partials/footer %>