<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<% const { _id, name, image, price, disponibility, description } = contract; %>
<% const { delivery, producer, subscribedUsers } = contract; %>
<% const { frequency, dayOfWeek, address } = delivery; %>

<% const reducer = (acc, current) => acc + current.quantity; %>
<% const available = disponibility - contract.subscribedUsers.reduce(reducer, 0); %>

<div class="ui modal">
    <div class="header">Subscribe to <%= name %></div>
    <div class="content">
        <h2>Contract Terms</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
            est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
            modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
            veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
            commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
            nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
        <div class="actions marginTop">
            <form class="inlineForm" action="/contracts/<%= _id %>/subscribe?_method=PUT" method=POST>
                <div class="field">
                    <label>Quantity</label>
                    <input type="number" name="quantity" value="1" min="1" max="<%= available %>" step="1" required>
                </div>
                <button class="ui right floated green approve button">Subscribe</button>
            </form>
            <div class="ui right floated red cancel button">Cancel</div>
        </div>
    </div>
</div>

<h1 class="ui center aligned block inverted olive header"><%= name %></h1>

<a class="ui left floated animated huge inverted violet button" href="/contracts">
    <div class="visible content">
        Go back
    </div>
    <div class="hidden content">
        <i class="left arrow large icon"></i>
    </div>
</a>

<% if (currentUser) { %>
    <% let isSubscribed = false; %>
    <% for (const subscribedContract of currentUser.contract.subscribed) { %>
        <% if (subscribedContract.id.equals(contract._id)) { %>
            <% isSubscribed = true; %>
        <% } %>
    <% }; %>
    <% if (isSubscribed) { %>
        <form class="inlineForm" action="/contracts/<%= _id %>/unsubscribe?_method=PUT" method=POST>
            <button class="ui right floated huge inverted red button">Unsubscribe</button>
        </form>
    <% } else if (available) { %>
        <button id="subButton" class="ui right floated huge inverted green button">Subscribe</button>
    <% } %>
<% } %>

<img class="ui large centered rounded image" src="<%= image %>">

<div class="ui styled fluid accordion marginTop">
    <div class="active title">
        <h2 class="ui center aligned block inverted olive header">
            <i class="dropdown icon"></i>
            General Information
            <i class="dropdown icon"></i>
        </h2>
    </div>
    <div class="active content">
        <p><%= description %></p>
        
        <p>
            <strong>Price : </strong>
            <%= price %>€ per delivery.
        </p>
        
        <p>
            <strong>Disponibility : </strong>
            <% if( available) { %>
                <%= available %> still available.
            <% } else { %>
                Not available anymore !
            <% } %>
        </p>
    </div>

    <div class="title">
        <h2 class="ui center aligned block inverted olive header">
            <i class="dropdown icon"></i>
            Delivery Information
            <i class="dropdown icon"></i>
        </h2>
    </div>
    <div class="content">
        <p>
            <strong>Frequency : </strong>
            Every
            <% if (frequency !== 1) { %>
                <strong><%= frequency %></strong>
            <% } %>
            weeks
        </p>
        
        <p>
            <strong>Day of the Week : </strong>
            <%= dayOfWeek %>
        </p>
        
        <% const minute = address.time.minute === 0 ? "00" : address.time.minute %>
        <p>
            <strong>Time : </strong>
            <%= address.time.hour %> h <%= minute %>
        </p>
    
        <div class="accordion">
            <div class="title">
                <h3 class="ui ui center aligned block inverted olive header">
                    <i class="dropdown icon"></i>
                    Address : <%= address.name %>
                    <i class="dropdown icon"></i>
                </h3>
            </div>
            <div class="content">
                <p>
                    <%= address.address1 %>
                    <%= address.address2 %>
                    <br>
                    <%= address.postalCode %>
                    <%= address.city %>
                </p>
            </div>
        </div>
    </div>
</div>
    
<% if( currentUser && producer.id.equals( currentUser._id ) ) { %>
    <div class="marginTop">
        <a class="ui large olive button" href="/contracts/<%= _id %>/edit">Edit</a>
        <form class="inlineForm" action="/contracts/<%= _id %>?_method=DELETE" method=POST>
            <button class="ui large right floated red button">Delete</button>
        </form>
    </div>
<% } %>

<script>
    $('.ui.accordion').accordion();
    $("#subButton").on("click", function() {
        $('.ui.modal')
            .modal({
                closable: false,
                inverted: true,
                onDeny: function() {},
                onApprove: function() {}
            })
            .modal('show');
    });
</script>

<% include ../partials/footer %>